//=========================================================================================================
$green: rgba(100, 194, 158, 1);
$greenA: rgba(100, 194, 158, 0.5);

//=========================================================================================================
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Lato/Lato-Light.ttf");
}

//=========================================================================================================
body {
    font-family: "Lato";
}

a {
    color: inherit;
    text-decoration: none;
}

a,
input,
button {
    &:focus {
        outline: none;
    }
}

span {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    color: $green;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    & img {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.input {
    color: #333;
    font-size: 20px;
    border: none;
    border: 1px solid #d3d7d9;
    padding: 15px 0 15px 20px;
    font-style: normal;
    margin: 0 8px 0 0;

    &:focus {
        border: 1px solid $green;
    }

    &::placeholder {
        color: #929292;
        font-style: italic;
    }
}

.btn {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15px 35px;
    border: none;
    background-color: #64c29e;
}

//=========================================================================================================
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    // .header__row
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 68px 0 0 0;
    }

    @media screen and (max-width: 767px) {
        position: fixed;

        &__row {
            padding: 10px 10px 0 0;
            justify-content: flex-end;
        }
    }
}

.nav {
    position: relative;

    // .nav__list
    &__list {
        display: flex;
        list-style: none;
    }

    // .nav__item
    &__item {
        position: relative;
        padding: 0 37.5px;

        &:nth-child(2) {
            padding: 0 110px 0 37.5px;
        }

        &:nth-child(3) {
            padding: 0 37.5px 0 110px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 2px;
            height: 2px;
            background-color: #4d4959;
            margin: -1.5px 0 0 0;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        &:nth-child(2),
        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    // .nav__link
    &__link {
        color: #4d4959;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2.6px;
        text-transform: uppercase;

        &:hover {
            color: $green;
        }

        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: auto;

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 120px 0 50px 0;
            min-height: 100vh;
        }

        &__item {
            flex: 1;
            padding: 0;
            display: flex;
            align-items: center;

            &:nth-child(2),
            &:nth-child(3) {
                padding: 0;
            }

            margin: 0 0;

            &::after {
                margin: 0;
                top: unset;
                bottom: 0;
                right: 50%;
                width: 4px;
                height: 4px;
                background-color: #fff;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
            }

            &:nth-child(2) {
                &::after {
                    display: block;
                }
            }
        }

        &__link {
            color: #fff;
            margin: 10px 0;
        }

        .logo {
            top: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
        }
    }

    &.active {
        left: 0;
    }

    transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
}

.burger {
    position: relative;
    display: flex;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: none;

    &::after,
    &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #333;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &.burger_active {
        & .line {
            background-color: transparent;
        }

        &::before {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            background-color: #fff;
        }

        &::after {
            bottom: 40%;
            transform: translateY(-50%) rotate(-45deg);
            background-color: #fff;
        }
    }

    @media screen and (max-width: 767px) {
        display: flex;
    }
}

.line {
    width: 100%;
    height: 3px;
    background-color: #333;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

//=========================================================================================================
.intro {
    min-height: 100vh;
    width: 100%;

    // .intro__bg
    &__bg {
        width: 100%;
        min-height: 100vh;
    }
}

//=========================================================================================================
.generation {
    text-align: center;
    padding: 117px 0 110px 0;
    background-color: #f7f7f7;

    @media screen and (max-width: 1500px) {
        padding: 90px 0 70px 0;
    }

    @media screen and (max-width: 1100px) {
        padding: 80px 0 65px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 70px 0 55px 0;
    }
}

//=========================================================================================================
.section {

    // .section__icon
    &__icon {
        margin: 0 0 30px 0;
    }

    // .section__title
    &__title {
        color: #353738;
        font-size: 18px;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }

    // .section__text
    &__text {
        color: #848789;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
    }

    // .section__item-9
    &__item-9 {
        position: relative;
        flex: 0 1 66.6666%;
        overflow: hidden;
    }

    // .section__item-inner
    &__item-inner {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;

        &:hover {
            & .section__item-content {
                opacity: 1;
            }
        }
    }

    // .section__item-content
    &__item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $greenA;
        opacity: 0;
        transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;

        & span {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            margin: 14px 0 0 0;
        }
    }

    // .section__item-bg
    &__item-bg {
        height: 100%;

        &.pad {
            padding: 0 0 37.51% 0;
        }
    }

    // .section__item-small-pad
    &__item-small-pad {
        padding: 18.76%;
    }

    // .section__item-logo
    &__item-logo {
        position: relative;
        z-index: 2;
    }

    // .section__item-3
    &__item-3 {
        display: flex;
        flex-direction: column;
        flex: 0 1 33.3333%;
        overflow: hidden;

        &.rev {
            flex-direction: column-reverse;
        }
    }

    // .section__item-3-content
    &__item-3-content {
        flex: 1 1 auto;
        position: relative;
        text-align: center;
        padding: 70px 67px 56px 67px;

        &::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: -10px;
            left: 50%;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            z-index: 5;
        }
    }

    // .section__item-icon
    &__item-icon {
        margin: 0 0 24px;
    }

    // .section__item-title
    &__item-title {
        margin: 0 0 10px 0;
    }

    // .section__item-text
    &__item-text {
        text-align: justify;

        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 1px;
            margin: 40px auto 0 auto;
            background-color: #ccc;
        }
    }

    // .section__item-img
    &__item-img {
        position: relative;
    }

    // .section__item-big-pad
    .section__item-big-pad {
        padding: 0;
    }

    // .section__item-1
    &__item-1 {
        width: 16.666%;
    }

    // .section__item-height-pad
    &__item-height-pad {
        padding: 0 0 215.3% 0;
    }
}

//=========================================================================================================
.work {
    background-color: #fff;

    // .work__colum
    &__colum {
        display: flex;
        width: 100%;
        flex: 1 1 100%;
        overflow: hidden;

        &.rev {
            flex-direction: row-reverse;
        }
    }

    @media screen and (max-width: 1500px) {
        .section__item-3-content {
            padding: 50px 35px 35px 35px;
        }

        .section__item-text {
            &::after {
                margin: 15px auto 0 auto;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        .work__colum {
            flex-direction: column;

            &.rev {
                flex-direction: column-reverse;
            }
        }

        .section__item-big-pad {
            padding: 0 0 50% 0;
        }
    }
}

//=========================================================================================================
.review {
    padding: 124px 0 68px 0;
    background-color: #f7f7f7;

    // .review__wrapper
    &__wrapper {
        overflow: hidden;
    }

    // .review__track
    &__track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        transition: transform 0.3s ease, height 0.3s ease;
    }

    // .review__item
    &__item {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;

        & .section__item-title {
            & span {
                color: #848789;
                font-weight: 300;
            }
        }
    }

    // .review__text
    &__text {
        color: #848789;
        font-size: 24px;
        font-weight: 400;
        font-style: italic;
    }

    // .review__dots
    &__dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 100px 0 0 0;
    }

    // .review__dots-item
    &__dots-item {
        cursor: pointer;
        width: 11px;
        height: 11px;
        border: 1px solid #a9afb3;
        margin: 0 9px 0 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: transparent;

        &.active {
            background-color: #a9afb3;
        }

        &:last-child {
            margin: 0;
        }
    }

    @media (max-width: 1500px) {
        padding: 110px 0 58px 0;

        &__dots {
            margin: 90px 0 0 0;
        }
    }

    @media (max-width: 1100px) {
        padding: 70px 0 55px 0;

        &__dots {
            margin: 80px 0 0 0;
        }
    }

    @media (max-width: 767px) {
        padding: 45px 0 35px 0;

        &__dots {
            margin: 70px 0 0 0;
        }
    }
}

//=========================================================================================================
.store {
    display: flex;
    flex-direction: column;

    // .store__row
    &__row {
        display: flex;
        flex-direction: row;
    }

    // .store__colum-row
    &__colum-row {
        display: flex;
        flex: 1;
    }

    // .store__colum
    &__colum {
        flex: 1;
    }

    // .store__footer
    &__footer {
        padding: 75px 0;
        background-color: #282f35;
        text-align: center;
    }

    // .store__footer-btn
    &__footer-btn {
        position: relative;
        display: inline-block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        border: 1px solid #fff;
        padding: 15px 55px;
        overflow: hidden;

        & span {
            position: relative;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
            bottom: -100%;
            left: 0px;
            transition: bottom 0.3s ease;
            -webkit-transition: bottom 0.3s ease;
            -moz-transition: bottom 0.3s ease;
            -ms-transition: bottom 0.3s ease;
            -o-transition: bottom 0.3s ease;
            z-index: 0;
        }

        &:hover {
            color: #333;

            &::before {
                bottom: 0;
            }
        }

        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }

    // .store__colum-pad
    &__colum-pad {
        padding: 0 0 0 0;
    }

    @media (max-width: 1100px) {
        &__row {
            flex-wrap: wrap;
        }

        &__colum-row {
            & .store__colum-pad {
                padding: 0 0 100% 0;
            }
        }

        &__colum-pad {
            padding: 0 0 50% 0;
        }

        & .section__item-3 {
            flex: 1 1 100%;
        }

        & .section__item-1 {
            flex: 0 1 50%;
        }

        &__footer {
            padding: 65px 0;
        }

        &__footer-btn {
            padding: 15px 45px;
        }
    }

    @media (max-width: 767px) {
        &__footer {
            padding: 55px 0;
        }

        &__footer-btn {
            padding: 15px 35px;
        }
    }
}

//=========================================================================================================
.form {
    text-align: center;
    padding: 109px 0 111px 0;

    // .form__inner
    &__inner {
        width: 100%;
        max-width: 410px;
        margin: 0 auto;

        & .input {
            flex: 4;
        }

        & .btn {
            flex: 1;
        }
    }

    // .form__logo
    &__logo {
        margin: 0 0 35px 0;
    }

    // .form__text
    &__text {
        color: #848789;
        font-size: 24px;
        line-height: 34px;
        font-style: italic;
        margin: 0 0 35px 0;
    }

    // .form__input
    &__input {
        display: flex;
    }

    @media (max-width: 1500px) {
        padding: 90px 0 90px 0;
    }

    @media (max-width: 1100px) {
        padding: 70px 0 70px 0;
    }

    @media (max-width: 767px) {
        padding: 50px 0;
    }

    @media (max-width: 450px) {
        &__input {
            flex-direction: column;

            & .input {
                flex: 1;
                margin: 0 0 8px 0;
            }

            & .btn {
                flex: 1;
            }
        }
    }
}

//=========================================================================================================
.footer {
    padding: 100px 0;
    background-color: #f7f7f7;

    // .footer__row
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    // .footer__left
    &__left {
        color: #848789;
    }

    // .footer__left-text
    &__left-text {
        color: #878a8c;
        line-height: 17.87px;
        font-size: 14px;
        font-weight: 400;
        font-style: italic;

        &:first-child {
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
        }
    }

    // .footer__link
    &__link {
        font-weight: 700;
    }

    // .footer__middle
    &__middle {
        display: flex;
    }

    // .footer__social
    &__social {
        margin: 0 15px 0 0;

        &:last-child {
            margin: 0;
        }
    }

    // .footer__right
    &__right {
        display: flex;
        align-items: center;
    }

    // .footer__right-text
    &__right-text {
        color: #848789;
        font-size: 14px;
        line-height: 17.87px;
        margin: 0 9px 0 0;
    }

    @media (max-width: 1500px) {
        padding: 80px 0;
    }

    @media (max-width: 1100px) {
        padding: 60px 0;
    }

    @media (max-width: 767px) {
        &__row {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        &__left {
            margin: 0 0 20px 0;
        }

        &__middle {
            margin: 0 0 20px 0;
        }
    }
}